<div class="position-absolute mx-2 my-1 actions d-flex flex-column">
  <div>
    <button class="btn btn-outline-primary mx-1" (click)="openFile()">Open image...</button>
    <button class="btn btn-outline-warning mx-1" (click)="clear(false)">Clear measurements</button>
  </div>

  <div class="input-group input-group-sm mt-3 pt-3 border-top">
    <div class="input-group-prepend">
      <span class="input-group-text">Real width:</span>
    </div>
    <input #ratioInput 
      type="number" 
      class="form-control" 
      aria-label="Real width" 
      [value]="selectedLine != null ? selectedLine.realLeangth : ''" [disabled]="selectedLine == null"
      (keyup.enter)="setSelectedWidth(ratioInput.value)"
    >
    <div class="input-group-append">
      <button type="button" class="btn btn-primary btn-sm" [disabled]="selectedLine == null" (click)="setSelectedWidth(ratioInput.value)">Change</button>
    </div>
  </div>

  <div>
    <button type="button" class="btn btn-danger btn-sm mt-1" [disabled]="selectedLine == null" (click)="removeSelected()">Delete</button>
  </div>
</div>

<div id="konva"></div>