<div class="container d-flex flex-column">
  <h1 class="display-1 my-5">imageMeasurer</h1>
  <h4 class="display-4 my-5">App that lets you get image length based on a ration rate...</h4>
  <div>
    <a routerLink="/editor" class="btn btn-outline-primary btn-lg mx-5 px-5" routerLinkActive="active">Open editor</a>
  </div>
</div>

